.image-to-show {
  width: 400px;
  height: 400px;
  animation: fadeinout 10s;
}

.images-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button {
  margin: 50px;
  font-size: 28px;
  background: rgb(163, 163, 221);
  border-radius: 10px;
  padding: 10px;
}

.time {
  font-family: sans-serif;
  width: 150px;
  font-weight: 700;
  font-size: 100px;
  color: darkgreen;
  background-color: #bcdfad;
  margin: 0 auto;
  text-align: center;
}

@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}